.menu li{
    list-style-type: none;
    position: relative;
    
}

.button {
    height: 30px;
    width: 170px;
    border-bottom-right-radius: 10px;
    text-align: center;
    align-content: center;
    box-shadow: 1px -0.5px 5px black ;
    user-select: none;
    cursor: pointer;
    margin-bottom: 5px;
  
    left:0;
    transition-property: left;
    transition-duration: 700ms;
   
    
}

.button:hover{
   
    left:15px;
}

a{

    text-decoration: none;
    color: black;
}