.performe-confirm-button {
    border-top-left-radius: 10px;
    text-align: center;
    align-content: center;
    box-shadow: 1px -0.5px 5px black;
    border-bottom-right-radius: 0px;
    user-select: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1500ms;
}

.performe-confirm-button:hover {
    box-shadow: 1px -0.5px 5px forestgreen;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
}

.performer-delete-button {
    border-bottom-right-radius: 10px;
    box-shadow: 1px -0.5px 5px black;
    border-top-left-radius: 0px;
    text-align: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1500ms;
}