

#pet-info{
display: grid;
grid-template-rows: .1fr 1fr 1fr;
height: 100%;
margin-top: 1%;
row-gap: 1%;
perspective: 1500px;
}

#title{
    text-align: center;
    text-shadow: 1px 1px 2px dimgrey;
    border-bottom: 1px solid black;
}


#pet-card{

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
   
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   box-shadow: 1px 1px 2px dimgrey;
   transform-style: preserve-3d;
   transform:rotateX(0deg);
   transition-property:all;
   transition-duration: 500ms;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  
}
#pet-card:hover{

    transform:rotateX(30deg) ;
    
    
}

.about{

    font-size: 1.4em;
    font-weight: 700;
    padding-left: 2%;
    color: rgb(95, 95, 95);
    text-shadow: 0.2px 0.5px 0.1px rgb(255, 255, 255);
}


#commad-pet{

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
   
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px dimgrey;
    transform-style: preserve-3d;


}